@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif; /* Your preferred font here */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Target specific tags if they need different weights */
h1, h2, h3 {
  font-weight: 700;
  color: #222;
}

p {
  line-height: 1.6;
  color: #444;
}


* {
  box-sizing: border-box;
}